<launch>

    <!-- Name of the robot description parameter -->
    <arg name="description_name"         default="cal_hum_description"/>
    <!-- Set robot description path -->
    <arg name="description_file"         default="$(find cal_hum_description)/urdf/robot.urdf"/>

    <!-- Load robot description -->
    <include file="$(find cal_hum_description)/launch/load.launch">
        <arg name="description_name" value="$(arg description_name)"/>
        <arg name="description_file" value="$(arg description_file)"/>
    </include>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    </include>

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
          args="-z 0.6 -param cal_hum_description -urdf -model cal_hum" output="screen"/>
</launch>
